{
    "presets": [
        "@babel/env",
        "@babel/react"
    ],
    "plugins":  [        
        ["@babel/plugin-proposal-nullish-coalescing-operator", {}, "unique-name-a"],
        ["@babel/plugin-proposal-optional-chaining", {}, "unique-name-b"],
        ["@babel/plugin-proposal-class-properties", {}, "unique-name-c"]
    ]
}