.navbarContainer {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  min-height: '100vh';
  background-color: #254e70;
}

.siderContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.logo {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  width: 100%;
}

.imgLogo {
  width: 100%;
  margin: 0 auto;
}

.navItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.navItem {
  margin: 0.5rem 0;
  color: #ffc15e;
}