.postContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 2rem;
    width: 100%;
    font-weight: 600;
    font-size: x-large;
}

.headerHr {
    width: 12%;
    border: 4px solid #f15156;
    margin-bottom: 0;
}

.postContentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: auto;
}

.individualPosts {
    margin: 0 4%;
    width: 25%
}
