.postsContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 3rem auto;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.postsHeaderContainer {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: x-large;
}

.site-page-header {
    border: 2px solid #254e70;
    width: 100%;
}

.postContentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: auto;
}

.individualPosts {
    margin: 0 4%;
    width: 25%
}
