#root {
    width: 100%;
    height: 100%;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    background: #f5f5efd8;
    color: #f15156;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
a {
    color: #ffc15e;
    transition: 0.5s;
    text-decoration: none;
}
  
a:hover, a:active, a:focus {
    color: #ffc15e;
    outline: none;
    text-decoration: none;
}
  
p {
    padding: 0;
    margin: 0 0 30px 0;
}
  
h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
  color: #254e70;
  text-align: center;
}

h2, h3, h4, h5, h6 {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #254e70;
    text-align: center;
}

.mainSwitch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    padding: 2rem;
    top: 0;
}

@media screen and (max-width: 1110px) {
  .mainSwitch {
    width: 80%;
    padding: 1rem;
  }
}

@media screen and (max-width: 850px) {
  .mainSwitch {
    width: 73%;
  }
}