.navbarContainer {
  display: flex;
  flex-direction: column;
  width: 15.2%;
  margin: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  min-height: '100vh';
  background-color: #254e70;
}

.siderContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.logo {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  width: 100%;
}

.imgLogo {
  width: 100%;
  margin: 0 auto;
}

.navItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 85%;
}

.navItem {
  margin: 0.5rem 0;
  color: #dfa447;
}

.navLinkContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.navIcon{
  color: #dfa447;
  margin: 0;
  margin-right: 1rem;
}

@media screen and (max-width: 1110px) {
  .navbarContainer {
    width: 20%;
  }
}

@media screen and (max-width: 850px) {
  .navbarContainer {
    width: 22%;
  }
}

@media screen and (max-width: 700px) {
  .mainSwitch {
    width: 28%;
  }
  .navItem {
    margin: 0.1rem 0;
    font-size:smaller;
  }
  .navIcon{
    margin-right: 0.3rem;
  }
}